body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    margin-right: 25px;
}

